@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar {
  position: fixed;
  background: transparent;
  width: 100%;
  padding: 30px 0;
  font-family: 'Ubuntu', 'sans-serif';
}

.sticky {
  /* padding: 30px 0; */
  background: crimson ;
  position: fixed;
}

.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a span{
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  transition: color 0.9s ease-in-out;
}

.navbar .logo a span:hover{
  color: crimson;
}

.navbar .menu li{
  display: inline-block;
  text-decoration: none;
}

.navbar .max-width .menu li a{
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.sticky .max-width .menu li a {
  color: white;
}

.sticky .max-width .menu li a:hover {
  color: black;
}


.navbar .menu li a:hover{
  color: crimson;
}



.home {
  display: flex;
  background: url(images/banner6.png) no-repeat center;
  height: 100vh;
  min-height: 500px;
  font-family: 'Ubuntu', 'sans-serif';

}

.home .max-width{
  margin: auto 0 auto 40px;
}

.home .home-content .texte-1{
font-size: 27px;
}

.home .home-content .texte-2{
  font-size: 75px;
  font-weight: 600;
  margin-left: -3;
  }

  .home .home-content .texte-3{
    font-size: 40px;
    margin: 5px 0;
    }

    .home .home-content .texte-3 span{
      color: crimson;
      font-weight: 500;
      }